{% load static %}
<ul class="flex items-center text-sm font-medium h-full">
    {% if user.is_authenticated %}
        <li class="nav_link hover:border-gray-600"><a class="py-10 px-5" href="{% url "users:logout" %}">LOG OUT</a></li>

    {% else %}

        <li class="nav_link hover:border-gray-600"><a class="py-10 px-5" href="{% url "users:login" %}">LOG IN</a></li>
        <li class="nav_link hover:border-gray-600"><a class="py-10 px-5" href="{% url "users:signup" %}">SIGN UP</a></li>

    {% endif %}
</ul>
